.root {
  display: flex;
  flex-direction: column;

  & > :not(:last-child) {
    margin-bottom: 10px;
  }

  .progress {
    width: 100%;
  }

  .directive {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hint {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    font-size: 64px;
    width: 100%;
  }

  .choices {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: 0;
    gap: 16px;

    &.two_track {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .next_button {
        grid-column: 1 / span 2;
      }
    }

    .choice-wrapper {
      list-style-type: none;

      button {
        cursor: pointer;
      }

      .choice {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        border: 1px solid #555;
        background: #fff;
        color: black;
        text-align: center;

        &.answers {
          height: 100px;
        }

        &.wrong {
          background-color: #e33;
        }

        &.correct {
          background-color: #3e3;

          &:disabled {
            color: inherit;
          }
        }

        .dimmed {
          color: #ddd;
        }

        .semi-dimmed {
          color: #555;
        }

        .furiganas {
          background: none;
          border: none;
          width: 90%;
          height: 2.5em;
          overflow-y: scroll;
          overflow-wrap: normal;
          word-break: keep-all;
          padding: 0;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          em {
            color: black;
            font-style: normal;
            font-weight: bold;
          }

          & > {
            margin-right: 10px;
          }
        }

        .kanji {
          font-size: 3rem;
          line-height: 100%;
          vertical-align: middle;
        }
      }
    }
  }
}
